
@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: 'Gilroy-Regular'; /* Choose a descriptive name for the font family */
  src: url('/font/Gilroy-Regular.woff2') format('woff2'),
       url('/font/Gilroy-RegularItalic.woff2') format('woff'),
       url('/font/Gilroy-Bold.woff2') format('woff'); /* Provide fallback formats for older browsers */
       
}





body{ 
  /* font-family: Georgia, serif 'MyFont' ; */
  font-family: 'Gilroy-Regular';
}

@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

.animate-marquee {
  display: inline-block;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 20s linear infinite;
}
